<header> <title>Welcome</title> </header>

<% if flash[:success] %>
  <div class = "success"> <%=flash[:success] %> </div>
<% end %>

<h1>Welcome to David's Digital Deal Finder!</h1>

<%= link_to "New? Sign up here!", "/users/new" %><br>
<%= link_to "Already a user? Login here!", "/sessions/new" %><br>
