<%= form_tag(search_page_path) do %>
  <div class="search_input">
    <%= search_field_tag :search, placeholder: "Search deals..." %>
    <div>
      <%= button_tag "Search deals", type: "button"%>
    </div>
  </div>
<% end %>
